body {
  margin: 0;
  font-family: inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: linear-gradient(-45deg,#E2D1F9,#6883BC,#234E70,#8AAAE5); /*#145DA0*/
  background-size: 400% 400%;
  position: relative;
  animation: rgb 10s ease-in-out infinite;
}

@keyframes rgb {
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position:100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
